
div {
	border-radius: 10px;
}

.text.col {
	min-width: 150px;
	/* width: 100%; */
	height: 287px;
	/* float: left; */
	/* box-sizing: border-box; */
	/* border: 1px dashed; */
	background-color: #eee;
	overflow: hidden;
	padding-left: 25px;
	padding-top: 20px;
} 
div#ic {
    word-spacing: 10px;
}

@media (max-width: 450px){
.img.col {
    
    max-width: 100% !important;
    margin-bottom: 10px;

}
.text.col {
	width: 100%;
}
.text.col p {
	padding-left: 10px;
}
}
.img.col {
    width: 100%;
    max-width: 228px;
    /* box-sizing: border-box; */
    /* margin-bottom: 5px; */
    /* margin-right: 5px; */
    /* text-align: center; */
    float: left;
    text-align: center;
}
.container {
	width: 98%;
	margin-top: 5px;
	min-width: 300px;
	/* margin-bottom: 10px; */
}
.row {
	margin: 0;
}


img {
	margin-right: 10px;
	border-radius: 10px;
	height: 287px;
	max-width: 223px;
	/* float: left; */
	display: inline-block;
	background-color: white;
}
#jumb {
	/* margin-left: 237px; */
	/* margin-top: 5px; */
	height: 287px;
	/* float: left; */
	/* float: right; */
	/* position: relative; */
	/* display: inline-block; */
	/* width: 80%; */
}

#text {
	font-family: Georgia, serif;
	font-size: 2em;
	/* margin-left: -20px; */
	/* margin-bottom: 15px; */
	/* margin-top: 0px; */
	padding-left: 20px;
	/* padding-top: 20px; */
	padding-top: -20px;
}
#text p {
	font-size: 0.6em;
}

#main {
	clear: both;
	background-color: #F4EBC3;
	/* margin-left: -20px; */
}
#main h4, #footer h4 {
	font-family: Georgia, serif;
	font-size: 1.5em;
	margin-left: 20px;
	margin-bottom: 15px;
	padding-top: 10px;
	
}

ul {
	padding-left: 25px;
	font-size: 1.2em;
	font-family: Georgia, serif;
	font-weight: 500;
	padding-bottom: 5px;
}

#footer {
	background-color:#eeeeee;
	color: #668284;
	padding: 15px;
	font-size: 1.5em;
	padding-left: 30px;
	margin-bottom: 10px;
}
#footer h3 {
	font-weight: bold;
	/* margin-left: -10px; */
}


#footer i {

	font-size: 48px;
	color: #668284;
}
#footer a:hover, i:hover, #footer p:hover { 
	color: #1abc9c  !important;
    text-decoration: none;
    font-weight: bold;
 }
#email {
	color:#668284;
}
#email:hover {
	font-weight: bold;	
}