
div {
	border-radius: 10px;
}
.container {
	width: 100%;
}

img {
	
	margin-top: 5px;
	border-radius: 10px;
	height: 287px;
	float: left;
}
#jumb {
	margin-left: 237px;
	margin-top: 5px;
	height: 287px;
}

#text {
	font-family: Georgia, serif;
	font-size: 2em;
	margin-left: -20px;
	margin-bottom: 15px;
	margin-top: -30px;
	padding-top: -20px;

}
#text p {
	font-size: 0.6em;
}

#main {
	clear: both;
	background-color: #F4EBC3;
	margin-top: -30px;
}
#main h4, #footer h4 {
	font-family: Georgia, serif;
	font-size: 1.5em;
	margin-left: 20px;
	margin-bottom: 15px;
	padding-top: 10px;
	
}

ul {
	padding-left: 25px;
	font-size: 1.2em;
	font-family: Georgia, serif;
	font-weight: 500;
	padding-bottom: 5px;
}

#footer {
	background-color:#eeeeee;
	color: #668284;
	padding: 15px;
	font-size: 1.5em;

}
#footer h3 {
	font-weight: bold;
}


#footer i {

	font-size: 48px;
	color: #668284;
}
#footer a:hover, i:hover, #footer p:hover { 
	color: #1abc9c  !important;
    text-decoration: none;
    font-weight: bold;
 }
#email {
	color:#668284;
}
#email:hover {
	font-weight: bold;	
}